<div class="footbar" data-js-footbar>
    {% section 'purchases-proof' %}
    {% section 'notifications' %}
    {%- if 'product' contains template -%}
        {% section 'statistics-slider' %}
    {%- endif -%}
</div>
