 <input type="text" id="fake_input" />
 <a class="action--wishlist tile-actions--btn flex wishlist-btn" href="javascript:;" data-toggle="tooltip" data-placement="bottom" data-product-id="{{ product.id }}" data-original-title="Add to Wishlist" data-product-handle="{{ product.handle }}">
  <span>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.15 16.927" style="&#10;    color: {{settings.wishlist_color}};    fill: currentColor;&#10;"><path d="M13.67 0a4.85 4.85 0 0 0-4.1 2.23A4.86 4.86 0 0 0 5.47 0 5.53 5.53 0 0 0 0 5.67c0 2.42 1.2 4.8 3.53 7.1a24.9 24.9 0 0 0 5.82 4.1.5.5 0 0 0 .46 0 24.94 24.94 0 0 0 5.82-4.1c2.34-2.3 3.53-4.68 3.53-7.1A5.53 5.53 0 0 0 13.67 0zm1.24 12.04a23.73 23.73 0 0 1-5.33 3.8 23.72 23.72 0 0 1-5.34-3.8C2.1 9.94 1 7.8 1 5.67A4.46 4.46 0 0 1 5.48 1c1.62 0 2.68.7 3.67 2.34a.5.5 0 0 0 .87 0C11 1.7 12.08 1 13.7 1a4.46 4.46 0 0 1 4.46 4.67c0 2.13-1.1 4.28-3.23 6.37z"/></svg>
  </span>
</a>
<div class="wishlist_mobile">
	<div class="wishlist_text">Added to wishlist</div>
</div>
