<div class="warranty_contact_wrap_header">
  <h1>DLux<b>&trade;</b> Baby Safety Kit</h1>
  <h2>10-Year Warranty Registration</h2></div>
<div class="wrapper contact-page">
  <div class="grid">
    <h2 class="wa-heading">Please choose the method you prefer to register your DLux<b>&trade;</b> Baby Safety Kit Warranty.</h2>
    
    <div class="grid__item large--one-whole page--item "> 
      <div class="grid warranty-box">
            <div class="grid__item large--one-third page--item warranty_contact_wrap_layout">
         <div class="messanger"> <div class="inner-header">
            <h3>One Click Registration With Messenger</h3>
          </div>
       <a href="https://m.me/mydlux?ref=w7266876">   
          <svg xmlns="http://www.w3.org/2000/svg" height="226px" width="224px" version="1.1" viewBox="0 0 224 226">
 <defs>
  <linearGradient id="a" y1="6.76%" x2="50%" x1="50%" y2="95.6%">
   <stop stop-color="#00C6FF" offset="0"/>
   <stop stop-color="#0068FF" offset="1"/>
  </linearGradient>
 </defs>
<path fill="url(#a)" d="m41.255 185.52v40.2l37.589-21.37c10.478 3.02 21.616 4.65 33.156 4.65 61.86 0 112-46.79 112-104.5 0-57.714-50.14-104.5-112-104.5-61.856 0-112 46.786-112 104.5 0 32.68 16.078 61.86 41.255 81.02z"/>
<path fill="#fff" d="m100.04 75.878l-60.401 63.952 54.97-30.16 28.721 30.16 60.06-63.952-54.36 29.632-28.99-29.632z"/>
</svg>
           </a>    
        </div>
        
        </div>
        <div class="or">OR</div>
          <div class="grid__item large--two-thirds warranty_contact_wrap_layout">
            <div class="contact-box">
          <div class="inner-header">
              <h3>Registration Form</h3>
            </div> 
 <div class="newsletter-section{% if section.settings.show_background %} index-section--newsletter-background{% endif %}">
  <div class="page-width text-center">
    
<div class="input-group password__input-group">
  <div class="country">
    <select><option value="">Choose Your Country</option>
    <option value="canada">Canada</option>
      <option value="usa">USA</option>
        <option value="uk">United KINGDOM</option>
    </select>
  </div>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1" id="canada">Canada</a></li>
    <li><a href="#tabs-2" id="usa">USA</a></li>
   
  </ul>
  <div id="tabs-1">
<form method="post" class="af-form-wrapper" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl"  >
<div style="display: none;">
<input type="hidden" name="meta_web_form_id" value="1077875945" />
<input type="hidden" name="meta_split_id" value="" />
<input type="hidden" name="listname" value="awlist5237997" />
<input type="hidden" name="redirect" value="https://www.aweber.com/thankyou-coi.htm?m=text" id="redirect_4bb5621de0e973efb63df2c1ab6eae22" />

<input type="hidden" name="meta_adtracking" value="My_Web_Form" />
<input type="hidden" name="meta_message" value="1" />
<input type="hidden" name="meta_required" value="name (awf_first),name (awf_last),email,custom Date of purchase" />

<input type="hidden" name="meta_tooltip" value="" />
</div>
<div id="af-form-1077875945" class="af-form">
<div id="af-body-1077875945" class="af-body af-standards">
<div class="grid__item large--one-half">
<input id="awf_field-100500027-first" type="text" class="text" placeholder="First Name" name="name (awf_first)" value=""  onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " tabindex="500" required />
</div>
<div class="grid__item large--one-half">
<input id="awf_field-100500027-last" class="text" placeholder="Last Name" type="text" name="name (awf_last)" value=""  onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " tabindex="501" required />
</div>
<div class="grid__item large--one-half">
<input class="text" id="awf_field-100500028" type="email" placeholder="Email" name="email" value="" tabindex="502" onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " required />
</div>
<div class="grid__item large--one-half">
<input type="text" id="awf_field-100500029" class="text" placeholder="Date of purchase" name="custom Date of purchase" value=""  onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " tabindex="503" required />
</div>
<div class="grid__item large--one-whole">
<input name="submit" class="submit" type="submit" value="Register" tabindex="504" />
</div>
</div>
</div>
</form>
<script type="text/javascript">
// Special handling for facebook iOS since it cannot open new windows
(function() {
    if (navigator.userAgent.indexOf('FBIOS') !== -1 || navigator.userAgent.indexOf('Twitter for iPhone') !== -1) {
        document.getElementById('af-form-1077875945').parentElement.removeAttribute('target');
    }
})();
</script><script type="text/javascript">
    <!--
    (function() {
        var IE = /*@cc_on!@*/false;
        if (!IE) { return; }
        if (document.compatMode && document.compatMode == 'BackCompat') {
            if (document.getElementById("af-form-1077875945")) {
                document.getElementById("af-form-1077875945").className = 'af-form af-quirksMode';
            }
            if (document.getElementById("af-body-1077875945")) {
                document.getElementById("af-body-1077875945").className = "af-body inline af-quirksMode";
            }
            if (document.getElementById("af-header-1077875945")) {
                document.getElementById("af-header-1077875945").className = "af-header af-quirksMode";
            }
            if (document.getElementById("af-footer-1077875945")) {
                document.getElementById("af-footer-1077875945").className = "af-footer af-quirksMode";
            }
        }
    })();
    -->
</script>


  </div>
  <div id="tabs-2">
<form method="post" class="af-form-wrapper" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl"  >
<div style="display: none;">
<input type="hidden" name="meta_web_form_id" value="577116732" />
<input type="hidden" name="meta_split_id" value="" />
<input type="hidden" name="listname" value="awlist5241249" />
<input type="hidden" name="redirect" value="https://www.aweber.com/thankyou-coi.htm?m=text" id="redirect_2a1e5d3946b35007e9860e3e034cea1b" />

<input type="hidden" name="meta_adtracking" value="My_Web_Form" />
<input type="hidden" name="meta_message" value="1" />
<input type="hidden" name="meta_required" value="name (awf_first),name (awf_last),email,custom Date of purchase" />

<input type="hidden" name="meta_tooltip" value="" />
</div>
<div id="af-form-577116732" class="af-form">
<div id="af-body-577116732" class="af-body af-standards">
<div class="grid__item large--one-half">
<input id="awf_field-100499935-first" type="text" placeholder="First Name" class="text" name="name (awf_first)" value=""  onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " tabindex="500" required />
</div>
<div class="grid__item large--one-half">
<input id="awf_field-100499935-last" class="text" placeholder="Last Name" type="text" name="name (awf_last)" value=""  onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " tabindex="501" required />
</div>
<div class="grid__item large--one-half">
<input class="text" id="awf_field-100499936" type="email" name="email" placeholder="Email" value="" tabindex="502" onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " required />
</div>
<div class="grid__item large--one-half">
<input type="text" id="awf_field-100499937" class="text" placeholder="Date of purchase" name="custom Date of purchase" value=""  onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " tabindex="503" required />
</div>
<div class="grid__item large--one-whole">
<input name="submit" class="submit" type="submit" value="Register" tabindex="504" />
</div>
</div>
</div>
</form>
<script type="text/javascript">
// Special handling for facebook iOS since it cannot open new windows
(function() {
    if (navigator.userAgent.indexOf('FBIOS') !== -1 || navigator.userAgent.indexOf('Twitter for iPhone') !== -1) {
        document.getElementById('af-form-577116732').parentElement.removeAttribute('target');
    }
})();
</script><script type="text/javascript">
    <!--
    (function() {
        var IE = /*@cc_on!@*/false;
        if (!IE) { return; }
        if (document.compatMode && document.compatMode == 'BackCompat') {
            if (document.getElementById("af-form-577116732")) {
                document.getElementById("af-form-577116732").className = 'af-form af-quirksMode';
            }
            if (document.getElementById("af-body-577116732")) {
                document.getElementById("af-body-577116732").className = "af-body inline af-quirksMode";
            }
            if (document.getElementById("af-header-577116732")) {
                document.getElementById("af-header-577116732").className = "af-header af-quirksMode";
            }
            if (document.getElementById("af-footer-577116732")) {
                document.getElementById("af-footer-577116732").className = "af-footer af-quirksMode";
            }
        }
    })();
    -->
</script>
  
</div>
  </div>
  

 <script>
             $(function () {
			  $("#awf_field-100500029, #awf_field-100499937").datepicker();
			});
   $( function() {
    $( "#tabs" ).tabs();
  } );
          </script>

              </div>

  </div>
</div>
            
           </div> 
          </div>
    
   
      </div>
      
    </div>
  </div>
  
  {{ page.content }}
  
    </div>


<script>
  $('.contact-box form').submit(function(){
    var country = $('.country select').val();  
    if(country == ''){
       alert('Please select your country');
       return false;
    }else
    {
       return true;
    }
    
  });
  $('.country select').change(function(){
    var country = $('.country select').val();
    if (country == 'canada'){
      $('#tabs a#canada').trigger('click');
    }
    else if (country == 'usa'){
      $('#tabs a#usa').trigger('click');
    }
    });
</script>
