<div class="warranty_contact_wrap_header">
  <h1>DLux<b>&trade;</b> Premium Products</h1>
  <h2>Download Your Complimentary E-book From Below</h2></div>
<div class="wrapper contact-page">
  <div class="grid">
    <h2 class="wa-heading">Please Choose Your Method That You Prefer To Download Your Ebook</h2>
    
    <div class="grid__item large--one-whole page--item "> 
      <div class="grid warranty-box">
            <div style="margin-top:18px;color:#fff;padding:10px;  border: 10px solid #f0723d;border-bottom: 10px solid #f0723d;border-radius: 5px;" class="grid__item large--one-third page--item warranty_contact_wrap_layout">
         <div class="messanger"> <div class="inner-header">
            <h3>Download With Messenger</h3>
          </div>
       <a href="https://m.me/mydlux?ref=w7266876">   
          <svg xmlns="http://www.w3.org/2000/svg" height="275px" width="224px" version="1.1" viewBox="0 0 224 226">
 <defs>
  <linearGradient id="a" y1="6.76%" x2="50%" x1="50%" y2="95.6%">
   <stop stop-color="#00C6FF" offset="0"/>
   <stop stop-color="#0068FF" offset="1"/>
  </linearGradient>
 </defs>
<path fill="url(#a)" d="m41.255 185.52v40.2l37.589-21.37c10.478 3.02 21.616 4.65 33.156 4.65 61.86 0 112-46.79 112-104.5 0-57.714-50.14-104.5-112-104.5-61.856 0-112 46.786-112 104.5 0 32.68 16.078 61.86 41.255 81.02z"/>
<path fill="#fff" d="m100.04 75.878l-60.401 63.952 54.97-30.16 28.721 30.16 60.06-63.952-54.36 29.632-28.99-29.632z"/>
</svg>
         </a>    
        </div> 
   </div>  
       <div style="margin-top:175px;margin-left:25px;"><h1><b>OR</b></h1></div>
          <div class="grid__item large--two-thirds warranty_contact_wrap_layout"> 

            <div class="contact-box"  style="height:400px;" >
          <div class="inner-header">

<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup" style="height:377px;">
            <form action="https://mydlux.us13.list-manage.com/subscribe/post?u=f3e548987adaec84841adaf35&amp;id=1f7da8f10e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Download With Your Browser</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE1">First Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="MMERGE1" class="required" id="mce-MMERGE1">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE2">Region  <span class="asterisk">*</span>
</label>
	<select name="MMERGE2" class="required" id="mce-MMERGE2">
	<option value=""></option>
	<option value="USA">USA</option>
<option value="Canada">Canada</option>
<option value="Europe">Europe</option>
<option value="Australia">Australia</option>
<option value="Singapore">Singapore</option>

	</select>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f3e548987adaec84841adaf35_1f7da8f10e" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Download" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
           </div> 
          </div>
    
   
      </div>
      
    </div>
  </div>
    
    
    
  <div>  
    
    <hr style="display:block;border-width:1px;border-style:inset;margin-top:485px;margin-bottom:0px;border-color:#ac2925;" >
    
    <div style="margin-top:50px;" >
       {{ page.content }}
 
    </div>
   
  
    </div>